body {
font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;}

p {
font-size: 1.6em;
line-height: 1.5em;}

strong {
}

em {
}

ul {
}

li {
}

h1, h2, h3, h4, h5, h6 {
font-weight: normal;}

h1, h2, h4 {
font-family: Helvetica, "Helvetica Neue", "Nimbus Sans L", Arial, sans-serif;}

h1, h2, h4 {
font-weight: bold;}

h1 {
font-size: 3.6em;}

h2 {
font-size: 2.4em;}

h3 {
font-size: 2.1em;}

h4 {
font-size: 1.3em;
text-transform: uppercase;
letter-spacing: 0.1em;}

dl {
}

dd {
}

a {
}

a:Hover {
}
	
#packageTitle {
}

#packageTitle2 {
}

#packageLinks {
}

#header {
}

#nav {
}

#index {
}

#classes {
}
#classes dt {
font-size: 2.1em;}

#classes dd {
font-size: 1.6em;
font-style: italic;}

/**
 * Functions
 */
#function {
}

#function h3 {
font-size: 2.8em;
border-top: 3px solid #444;}

#function .declaration {
margin: 0 0 2em;}
#function .declaration code {
font-size: 1.3em;}

#function .linenumber {
position: absolute; 
top: 0; 
right: 0;
padding: 10px;
font-size: 1.2em;
font-style: italic;
color: #555;}

.linenumber abbr {
margin: 0 0.2em 0;
font-family: Helvetica, "Helvetica Neue", "Nimbus Sans L", Arial, sans-serif;
font-weight: bold;
font-style: normal;
color: #000;}

.parameters {
width: 60em;
margin: 0 0 2em;
border-collapse: collapse;}

.parameters td {
padding: 5px;
font-size: 1.3em;
border-bottom: 1px dotted #ddd;}

.parameters .type {
width: 15%;}

.parameters .param,
.parameters .type {
font-family: "Droid Sans Mono", Monospace, Consolas, monospace;}

.parameters .desc {
width: 50%;}

.func {
position: relative;}

.func .top {
position: absolute;
bottom: 0;
right: 0;
margin: 0;
font-size: 1.2em;}

.top a {
padding: 5px;
color: #bbb;}

.top a:hover {
text-decoration: none;
background: #000;
color: #eee;}

/**
 * Tags
 */
.tags {
margin: 0 0 2em;}

.tags .title {
margin: 0.25em 0 0.75em;
font-size: 1.3em;
font-weight: bold;
letter-spacing: 0.1em;
font-family: Helvetica, "Helvetica Neue", "Nimbus Sans L", Arial, sans-serif; 
text-transform: uppercase;}

.tags dl {
font-size: 1.6em;}

.tags dt {
color: #555;
font-family: "Droid Sans Mono", Monospace, Consolas, monospace;
font-size: 0.8em;}

.tags dd {
padding: 0 0 0 2em;}

.shortdesc {
font-style: italic;}

.links {
}

.small {
}

.middleCol {
}

.leftCol {
}

.rightCol {
}

#elementPath {
}

.constructor {
}

#credit {
}

div.contents {
}

#classTree {
}

div.indent {
}

.warning {
}

code {
font-family: "Droid Sans Mono", Monospace, Consolas, monospace;}

.type {
}

.value {
}

.top {
}

.php-src, .php, .listing {
	font-family:		fixed;
	padding:		3px;
	color:			#334B66;
	background-color:	#dddddd;
	font-family: 'Courier New', Courier, monospace; font-weight: normal;
}

div#nav dl {
}

div.classtree {
}

span.linenumber,p.linenumber {
}

span.smalllinenumber {
}

/* Syntax highlighting */

.src-code { background-color: #f5f5f5; border: 1px solid #ccc9a4; padding: 0px; margin : 0px}
.src-line {  font-family: 'Courier New', Courier, monospace; font-weight: normal; }
/*.src-code pre {	}*/

.src-comm { color: green; }
.src-id {  }
.src-inc { color: #0000FF; }
.src-key { color: #0000FF; }
.src-num { color: #CC0000; }
.src-str { color: #66cccc; }
.src-sym { font-weight: bold; }
.src-var { }

.src-php { font-weight: bold; }

.src-doc { color: #009999 }
.src-doc-close-template { color: #0000FF }
.src-doc-coretag { color: #0099FF; font-weight: bold }
.src-doc-inlinetag { color: #0099FF }
.src-doc-internal { color: #6699cc }
.src-doc-tag { color: #0080CC }
.src-doc-template { color: #0000FF }
.src-doc-type { font-style: italic }
.src-doc-var { font-style: italic }

.tute-tag { color: #009999 }
.tute-attribute-name { color: #0000FF }
.tute-attribute-value { color: #0099FF }
.tute-entity { font-weight: bold; }
.tute-comment { font-style: italic }
.tute-inline-tag { color: #636311; font-weight: bold }

/* tutorial */

.authors {  }
.author {}
.author-blurb { }
.example {}
.listing {}
.release-info {}
.ref-title-box {}
.ref-title {}
.ref-purpose {}
.ref-synopsis {}

.title {}
	
.cmd-synopsis {}
.cmd-title {}
.toc {}

